html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  height: 100%;
}

.title {
  font-size: 4em;
  color: white;
}

.mondrianContainer {
  padding-top: 3em;
  padding-bottom: 3em;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#my-mondrian {
  display: flex;
  justify-content: center;
}

.stripeContainer {
  display: flex;
  width: 500px;
  border-left: 3px solid lightgrey;
}
