body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  background-color: #f6a4eb;
  font-size: 2em;
  border-radius: 3px;
}

.controls button {
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}
